<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='estilos.css')}}">
    <title>Mario Karajallo</title>
</head>
<body>
    <h1>Hola Penguins!</h1>
    <a href="{{url_for('contacto')}}">Contacto</a>
    <h2>Mi nombre es Mario</h2>
    <h3>Estoy aqui para dar un salto a mi vida</h3>
    <p>el sueño de ser programador 👨‍💻</p>
    <img src="{{url_for('static',filename='perrito.jpg')}}" height="20%" width="20%">

</body>
</html>